---
permalink: /sitemap.xml
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://aicomparehub.blog/</loc>
    <lastmod>{{ "now" | date: "%Y-%m-%d" }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://aicomparehub.blog/reviews/</loc>
    <lastmod>{{ "now" | date: "%Y-%m-%d" }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://aicomparehub.blog/vs/</loc>
    <lastmod>{{ "now" | date: "%Y-%m-%d" }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://aicomparehub.blog/news/</loc>
    <lastmod>{{ "now" | date: "%Y-%m-%d" }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://aicomparehub.blog/rankings/</loc>
    <lastmod>{{ "now" | date: "%Y-%m-%d" }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://aicomparehub.blog/about/</loc>
    <lastmod>{{ "now" | date: "%Y-%m-%d" }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://aicomparehub.blog/privacy/</loc>
    <lastmod>{{ "now" | date: "%Y-%m-%d" }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.3</priority>
  </url>
  {% for post in collections.allPosts %}
  <url>
    <loc>https://aicomparehub.blog{{ post.url }}</loc>
    <lastmod>{{ post.date | date: "%Y-%m-%d" }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}
</urlset>
